<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>SPAのサンプルアプリケーション</title>
</head>
<body>
  <div id="app">
    <nav>
      <!-- router-linkによるナビゲーション定義 -->
      <router-link to="/top">トップページ</router-link>
      <router-link to="/users">ユーザー一覧ページ</router-link>
      <router-view></router-view>
    </nav>
  </div>

  <!-- Vue.js本体とVue Routerの読み込み -->
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>

  <!-- 必要な分のコンポーネントのテンプレート定義 -->
  <script type="text/x-template" id="user-list">
    <!-- <div>ユーザー一覧ページです</div> -->
    <div>
      <div class="loading" v-if="loading">読み込み中....</div>
      <div v-if="error" class="error">
        {{error}}
      </div>
      <div v-for="user in users" :key="user.id">
        <h2>{{user.name}}</h2>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="user-detail">
    <div>
      <div class="loading" v-if="loading">読み込み中....</div>
      <div v-if="error" class="error">
        {{error}}
      </div>
        <div v-if="user"></div>
        <h2>{{user.name}}</h2>
        <p>{{user.description}}</p>
      </div>
    </div>
  </script>


  <script>

    // JSONを返す関数
    // この関数を用いて擬似的にWeb API経由で情報を取得したようにする
var getUsers = function (callback) {
  setTimeout(function () {
    callback(null, [
      {
        id: 1,
        name: 'Takuya Tejima'
      },
      {
        id: 2,
        name: 'Yohei Noda'
      }
    ])
  }, 1000)
}
// UserListを改修
var UserList = {
  // HTML上のscriptタグのidを指定する
  template: '#user-list',
  data: function () {
    return {
      loading: false,
      users: function () {
        return []//初期値の空配列
      },
      error: null
    }
  },
  // 初期化時にデータを取得する
  created: function () {
    this.fetchData()
  },

  // $routeの変更をwatchすることでルーティングが変更された時に再度データを取得
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData: function () {
      this.loading = true
      // 取得したデータの結果をusersに格納する
      // Function.prototype.bindはthisのスコープを渡すために利用
      getUsers((function (err, users) {
        this.loading = false
        if (err) {
          this.error = err.toString()
        } else {
          this.users = users
        }
      }).bind(this))
    }
  }
}

var userData = [
  {
    id: 1,
    name: 'Takuya Tejima',
    description: '東南アジアで働くエンジニアです'
  },
  {
    id: 2,
    name: 'Yohei Noda',
    description: 'アウトドア・フットサルが趣味のエンジニアです'
  }
]

    // 擬似的にAPI経由で情報を取得したようにする
var getUser = function (userId, callback) {
  setTimeout(function () {
    var filteredUsers = userData.filter(function (user) {
      return user.id === parseInt(userId, 10)
    })
    callback(null, filteredUsers && filteredUsers[0])
  }, 1000)
}

var UserDetail = {
  // HTML上のscriptタグのidを指定する
  template: '#user-detail',
  data: function () {
    return {
      loading: false,
      user: null,
      error: null
    }
  },
  // 初期化時にデータを取得する
  created: function () {
    this.fetchData()
  },

  // $routeの変更をwatchすることでルーティングが変更された時に再度データを取得
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData: function () {
      this.loading = true
      // 取得したデータの結果をusersに格納する
      // Function.prototype.bindはthisのスコープを渡すために利用
      getUser(this.$route.params.userId,(function (err, user) {
        this.loading = false
        if (err) {
          this.error = err.toString()
        } else {
          this.user = user
        }
      }).bind(this))
    }
  }
}

    var router = new VueRouter({
      routes: [
        {
          path: '/top',
          component: {
            template: '<div>トップページです</div>'
          }
        },
        {
          path: '/users',
          component: UserList
        },
        {
          path: '/users/:userId',
          component: UserDetail
        }
      ]
})

    var app = new Vue ({
      el: '#app',
      router: router
    })//.$mount('#app')
  </script>
  
  <!-- <script src="index.js"></script> -->
</body>
</html>
